.top-image {
	width:100%;
	margin:0;
	padding:0;
	position:relative;
}

.top-image img {
	width:100%;
}

.text{
    padding-left: 150px;
}

.name{
	padding-left: 150px;
	top:250px;
	font-size: 70px;
	font-weight: bold;
	color: white;
	position: absolute;
}

.world{
	font-size: 40px;
	font-family: fantasy;
	padding-left: 40px;
}

.blog{
	font-size: 40px;
	font-family: fantasy;
	padding-left: 40px;
}

.update{
	font-size: 40px;
	font-family: fantasy;
	padding-left: 40px;
}

.twitter-timeline{
	margin-left: 30%;
}

.travel{
	display:inline-block;
	height:300px;
	margin-right: 30px;
	padding-left: 40px;
}

.city{
	float:left;
	margin-right: 30px;
	padding-left: 40px;
}

.backpicture{
	position: relative;
	color: white;
}

.title-sentence{
	position: absolute;
	top:22%;
	left:5%;
	font-size: 5em;
}

.main-sentence{
	position: absolute;
	word-wrap: break-word;
	top:40%;
	left:5%;
}

.last-sentence{
	position: absolute;
	top:60%;
	left:5%;
}

.backpicture img{
	margin-top: 60px;
	width: 100%;
	filter:brightness(40%);
}


#text1 {
    font-size: 50px;
    font-weight: bold;
    color:white;
	top:500px;
	margin:0;
	position:absolute; /* 絶対位置指定 */
}

#text2 {
    font-size: 50px;
    font-weight: bold;
    color:white;
	top:600px;
	margin:0;
	position:absolute; /* 絶対位置指定 */
}

#text3 {
    font-size: 50px;
    font-weight: bold;
    color:white;
	top:700px;
	margin:0;
	position:absolute; /* 絶対位置指定 */
}



#india{
	transform:			scale( 1, -1);
	-o-transform:			rotate(180deg) scale(-1);
	-ms-transform:			scale( 1, -1);
	-moz-transform:			scale( 1, -1);
	-webkit-transform:		scale( 1, -1);
	filter:				flipv();
	-ms-filter:			flipv();
}
